#media{
     background-color: brown;
}
.py-2{
     color: white;
}
.row {
     cursor: pointer;
     color: brown;
     /* padding: 78px; */
}
.card:hover{
     transform: translateY(-10px);
     transition: 1s;
}
.card-text:hover{
    
   
     color: black;
     
}
.card1{
         margin: 31px;
}
.card-text{

}